<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Please verify your account</title>
</head>

<body style="font-family: Helvetica, Arial, sans-serif; margin: 0px; padding: 100px; background-color: #ffffff;">
<table role="presentation"
       style="width: 100%; border-collapse: collapse; border: 0px; border-spacing: 0px; font-family: Arial, Helvetica, sans-serif; background-color: rgb(239, 239, 239);">
    <tbody>
    <tr>
        <td align="center" style="padding: 1rem 2rem; vertical-align: top; width: 100%;">
            <table role="presentation"
                   style="max-width: 600px; border-collapse: collapse; border: 0px; border-spacing: 0px; text-align: left;">
                <tbody>
                <tr>
                    <td style="padding: 40px 0px 0px;">
                        <div style="text-align: left;">
                            <div style="padding: 20px; background-color: rgb(255, 255, 255);">
                                <div style="color: rgb(0, 0, 0); text-align: left;">
                                    <h1 style="margin: 1rem 0; text-align: center; padding-bottom: 16px">Your code is:
                                        <b>{{ code }}</b></h1>
                                    <p style="padding-bottom: 16px">Please enter <b>{{ code }}</b> within the next 10
                                        minutes to finish confirming your email.</p>
                                    <p style="font-size: 120px; margin: 16px;text-align: center; color: rgb(0, 153, 153)">
                                        {{ code }}</p>
                                    <br>
                                    <p style="padding-bottom: 16px">If you didn't request this code, you can safely
                                        ignore this email. Someone else might have typed your email address by
                                        mistake.</p>
                                    <p style="padding-bottom: 16px">Thanks,<br>The team</p>
                                </div>
                            </div>
                            <div style="padding-top: 20px; color: rgb(153, 153, 153); text-align: center;">
                            </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>

</html>